@charset "utf-8";

html {
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}

body {
    font-family: 'noto sans cjk kr', sans-serif;
    font-weight: normal;
    font-size: 16px;
    min-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 68%;
    margin: 0 auto;
}

/* nav */
#nav {
    margin: auto;
    /* padding: 13px 0; */
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 6;
    /* border-bottom: 1px solid #000; */
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}

.gnb {
    display: flex;
    flex-flow: row nowrap;
    gap: 0 120px;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

#nav:hover {
    background-color: #fff;
}

#nav-dark {

    background-color: rgba(255, 255, 255, 0.6);
}

.gnb {}



.gnb_toggle-btn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #067456;
}

.gnb_center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    /* margin-left: 120px; */
}

.gnb_title {
    padding: 8px 12px;
}

.gnb_title {
    font-family: 'roboto', sans-serif;
    display: inline-block;
}



.gnb_toggle-btn img {}

.icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.icon li {
    padding: 8px 12px;
}

/* inner_menu */
.inner_menu {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #fff;
    display: none;
}

.gnb_title {
    display: inline-block;
}

.gnb_title:hover {
    color: #067456;
    font-weight: 700;
}

.gnb_menu:hover .inner_menu {
    display: block;
    /* z-index: 999; */
    /* border-top: 1px solid #DFD3D3; */
    /* border-top: 1px solid #dbdbdb; */
    border-bottom: 1px solid #dbdbdb;
    height: 450px;
    z-index: 6;
}



.depth2 {
    width: 1280px;
    margin: 0 auto;
    padding: 60px 0 160px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    position: relative;
}

.depth2_left,
.depth2_right {
    display: flex;
    flex-flow: column;
}

.depth2_left:after {
    border: 1px solid 000;
}

.depth2_left h2,
.depth2_right h2 {
    margin-bottom: 12px;
    font-weight: 300;
}

.depth2_left h2:hover,
.depth2_right h2:hover {
    color: #067456;
    font-weight: 500;
}

.depth2_left {
    display: flex;
    flex-flow: column;
    margin-right: 60px;
}

.depth2_right {
    display: flex;
    flex-flow: column;
}

.depth2_photo {
    right: 0;
    position: absolute;
}

.depth2_photo a img {
    width: 200px;
    height: 250px;
    /* display: none; */
    margin-right: 20px;
}

/* main_banner */
.banner {
    width: 100%;
    height: 600px;
    transition: all 0.3s;
}

.banner a .main_banner {
    /* z-index: -1; */
    /* height: 600px; */
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    height: 600px;
}

a:first-child .main_banner {
    background: url(../images/main_banner.png) center/cover no-repeat;
}

a .main_banner .main_banner_description {
    padding: 230px 320px;
}

a:nth-child(2) .main_banner {
    background: url(../images/main_banner2.png) center/cover no-repeat;
}

a:nth-child(1) .main_banner_description h2 {
    font-size: 2.25rem;
    font-family: 'roboto', sans-serif;
    color: #fff;
    margin-bottom: 16px;
}

a:nth-child(1) .main_banner_description p {
    font-size: 2.5rem;
    line-height: 56px;
    font-weight: 500;
}

a:nth-child(2) .main_banner .main_banner_description p:first-child {
    color: #067456;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

a:nth-child(2) .main_banner .main_banner_description p:last-child {
    font-size: 2rem;
    line-height: 48px;
    margin-bottom: 24px;
    font-weight: 500;
}

a:nth-child(2) .main_banner .main_banner_description p span {
    font-weight: 700;
}


/* section */
#section {
    margin-top: 120px;
}

/* best */
.best_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.best_title h2 {
    font-size: 1.875rem;
}

.best_title ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 3px 0 0 60px;
    color: #DFD3D3;

}

.best_title ul li {
    margin-left: 16px;
    cursor: pointer;
}

.best_item ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.best_item ul li {
    width: 25%;
}

.best_img_bg {
    /* overflow: hidden; */
}

/* .best_img_bg:hover img {
    transform: scale(1.1);
} */

.best_img_bg img {
    max-width: 100%;
    max-height: 100%;
    background-color: #F6F6F6;
    /* transition: all 0.5s ease; */
}

.best_item ul li h2 {
    margin-top: 30px;
    margin-bottom: 12px;
    color: #555252;
}

.best_item ul li p {
    font-size: 1.31rem;
    font-weight: 500;
}

.best_description:nth-child(4) ul li:nth-child(3) p span {
    font-size: 0.5rem;
    text-decoration: line-through;
    color: #C1BCBC;
}

/* tab 클릭하면 다른 메뉴로 이동 */
.best_title ul li.active {
    color: black;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


/* center_banner */
.center_banner {
    margin-top: 120px;
    /* width: 100%; */
    height: 200px;

}

.center_banner a .container {
    background: url('../images/center_banner.png') center/cover no-repeat;
    padding: 65px 285px;
}

.center_banner h2 {
    font-size: 1.875rem;
    margin-bottom: 8px;
}

.center_banner p {
    font-size: 1.25rem;
    font-weight: 300;
}

/* sale */
.sale {
    margin-top: 120px;
}

.sale_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sale_title h2 {
    font-size: 1.875rem;
    font-family: 'roboto', sans-serif;
}

.sale_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.sale_description {
    align-items: center;
}

.sale_description h2 {
    margin-top: 24px;
    color: #555252;
}

.sale_description p {
    margin-top: 12px;
    font-size: 1.5rem;
}

.sale_description p span {
    font-size: 0.75rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #C1BCBC;
}

/* promotion */
.promotion {
    background-color: #ABCBB0;
    margin-top: 120px;
}

.promotion .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0 40px;
    /* padding-top: 60px; */
}

.promotion .container img {
    display: block;
    /* padding-bottom: 60px; */
    width: 50%;
}

/* .promotion_description {
    margin-top: 70px;
} */

.promotion_description h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 16px;
    line-height: 40px;
}

.promotion_description p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 24px;
}

.promotion a {
    padding: 6px 20px;
    background-color: #000;
    color: #fff;
}

/* collection */
.collection {
    margin-top: 120px;
}

.collection_title {
    margin-bottom: 32px;
}

.collection_title h2 {
    font-family: 'roboto', sans-serif;
    line-height: 48px;
    font-size: 2rem;
    margin-bottom: 16px;
}

.collection_title p {
    font-size: 1.25rem;
    margin-bottom: 32px;
}

.collection .flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.collection_img {
    overflow: hidden;
}

.collection_description h2 {
    font-family: 'roboto', sans-serif;
    font-size: 1.875rem;
    margin: 36px 0 8px 0;
}

.collection_description p {
    font-size: 1rem;
    margin-bottom: 32px;
}

.collection_description>a {
    font-size: 0.75rem;
    padding: 12px 20px;
    border: 1px solid #000;
}

.collection_description a:hover {
    border: none;
    background-color: #067456;
    color: #fff;
    transition: all 0.5s ease;
}

.collection_img img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* sports */
.sports {
    margin-top: 138px;
    background-color: #F8F8F8;
    padding: 40px 0 60px;
}

.sports .container h2 {
    font-size: 2rem;
    padding-left: 24px;
}

.sports h2 span {
    color: #067456;
}

.sports_contents {
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
}

.sports_contents a {
    display: block;
    position: relative;
}

.info {
    background: rgba(0, 0, 0, 0.5);
    width: 290px;
    height: 290px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 50%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.7s;
}

.sports_contents a:hover .info {
    opacity: 1;
}

.info span {
    font-size: 1.75rem;
    /* 28pt */
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.info .view {
    font-size: 0.938rem;
    /* 15pt */
    border: 1px solid #fff;
    padding: 7px 28px;
    margin-top: 30px;
}

/* sns */
.sns {
    /* max-width: 60%;
    margin: 0 auto; */
    margin-top: 120px;
}

.sns h2 {
    font-size: 2rem;
    padding-left: 24px;
}

.sns h2 span {
    color: #067456;
}

.sns_contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

video {
    width: 47%;
}

.insta {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px 0;
}

/* Footer */
.footer {
    background-color: #E6E0E0;
    height: 400px;
    margin-top: 200px;
}

.footer .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 120px;
}


.footer_logo {
    margin-right: 200px;
}

.footer_logo dd:nth-child(2) {
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin: 22px 0 17px 0;
}

.footer_logo dd:nth-child(2) h2:not(:last-child) {
    margin-right: 12px;
}

.footer_logo dd:nth-child(3) {
    line-height: 24px;
    color: #787878;
}

/* footer  어바웃*/
.footer_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer_menu:not(:nth-child(3)) {
    margin-right: 120px;
}

.footer_menu dt {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.footer_menu dd {
    margin-bottom: 10px;
    color: #787878;
    font-size: 14px;
}

.footer .footer_menu dd a:hover {
    color: green;
}

@media screen and (max-width:1023px) {
    .container {
        max-width: 94%;
        margin: 0 auto;
    }

    #nav h1 img {
        width: 150px;
    }

    .gnb {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 0px;
    }

    .gnb_center {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .icon {
        display: flex;
        padding-left: 0;
        display: none;
        width: 100%;
        justify-content: center;
    }

    .icon li {
        padding: 8px 12px;
    }

    .gnb_toggle-btn {
        display: block;
        cursor: pointer;
    }

    .gnb_center.active,
    .icon.active {
        display: flex;
    }

    .banner {
        height: 240px;
    }

    .banner a .main_banner {
        height: 240px;
    }

    a .main_banner .main_banner_description {
        padding: 76px 130px;
    }

    a:nth-child(1) .main_banner_description h2 {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    a:nth-child(1) .main_banner_description p {
        font-size: 1.25rem;
        line-height: 32px;
    }

    a:nth-child(2) .main_banner .main_banner_description p:first-child {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    a:nth-child(2) .main_banner .main_banner_description p:last-child {
        font-size: 1.25rem;
        line-height: 32px;
    }

    .best {
        justify-content: center;
        padding-left: 10px;
    }

    .best_item ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /* gap: 24px; */
        gap: 40px 0;
    }

    .best_item ul li {
        width: 50%;
    }

    .best_img_bg img {
        width: 45vw;
    }

    .best_item ul li h2 {
        font-size: 1rem;
    }

    .best_item ul li p {
        font-size: 1.125rem;
    }

    .center_banner {
        height: 120px;
    }

    .center_banner a .container {
        height: 120px;
        padding: 35px 120px;
    }

    .center_banner h2 {
        font-size: 1.5rem;
    }

    .center_banner p {
        font-size: 1rem;
    }

    .sale {
        margin-top: 120px;
        padding-left: 10px;
    }

    .sale_flex {
        display: flex;
        flex-flow: row wrap;
        gap: 40px 0;
    }

    .sale_description {
        width: 50%;
    }

    .sale_description img {
        width: 45vw;
    }

    .promotion .container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .promotion .container img {
        width: 50%;
    }

    /* .promotion .container .promotion_description {
        margin-top: -70px;
    } */

    .promotion {
        margin-top: 120px;
    }

    .promotion .container {}

    .promotion .container h2 {
        font-size: 1.5rem;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .promotion .container p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
    }

    .collection .flex {
        flex-direction: column;
        justify-content: center;
    }

    .collection_title {
        margin-top: 120px;
    }

    .collection_description {
        padding-left: 25%;
    }

    .collection_description {
        /* display: flex;
       justify-content: center; */
    }

    .collection_description:not(:first-child) {
        margin-top: 80px;
    }

    .sports_contents {
        flex-direction: column;
        gap: 60px 0;
    }

    .sports a {
        display: flex;
        justify-content: center;
    }

    .sns {
        margin-top: 120px;
    }

    .sns_contents {
        flex-direction: column;
        margin-top: 32px;
        gap: 32px 0;
    }

    video {
        width: 100%;
    }

    /* .footer {
        padding-bottom: 110px;
    } */

    .footer .container{
        display: flex;
        flex-flow: column nowrap;
        padding-top: 60px;
        gap: 40px 0;
        height: 100%;
        justify-content: center;
    }

    .footer_logo{
        width: 100%;
    }

    .footer_right{
        /* display: block; */
        /* flex-flow:  row wrap; */
        /* justify-content: space-around; */
        gap: 0;
        /* justify-content: center; */
    }

    .footer_menu:not(:nth-child(3)) {
        margin-right: 0px;
    }

    .footer_menu{
        width: 30%;
        float: left;
    }
    .footer_menu:nth-child(3){
        display: none;
    }
}

@media screen and (max-width:767px) {

    .gnb {
        padding: 18px 16px;
    }

    .container {
        max-width: 92%;
        margin: 0 auto;
    }

    #nav h1 img {
        width: 100px;
    }

    .gnb_toggle-btn {
        font-size: 1.25rem;
    }

    #section {
        margin-top: 80px;
    }

    .banner {
        height: 525px;
    }

    .banner a .main_banner {
        height: 525px;
    }

    a:first-child .main_banner {
        background: url(../images/main_banner_mobile.png) center/cover no-repeat;
    }

    a:nth-child(2) .main_banner {
        background: url(../images/main_banner2_mobile.png) center/cover no-repeat;
    }

    a .main_banner .main_banner_description {
        padding-left: 16px;
        padding-top: 400px;
    }

    a:nth-child(1) .main_banner_description h2 {
        font-size: 0.75rem;
        margin-bottom: 8px;
    }

    a:nth-child(1) .main_banner_description p {
        font-size: 1rem;
        line-height: 24px;
        color: #fff;
    }

    a:nth-child(2) .main_banner .main_banner_description p:first-child {
        font-size: 0.75rem;
        margin-bottom: 8px;
    }

    a:nth-child(2) .main_banner .main_banner_description p:last-child {
        font-size: 1rem;
        line-height: 24px;
    }

    .best_item ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        /* gap: 24px; */
        gap: 24px 0;
    }

    .best {
        justify-content: center;
        padding-left: 0px;
    }

    .best_title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .best_title h2 {
        font-size: 20px;
    }

    .best_title ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    .best_item ul li {
        width: 48%;
    }

    .best_item ul li h2 {
        margin-top: 12px;
        margin-bottom: 8px;
        font-size: 12px;
    }

    .best_item ul li p {
        font-size: 1rem;
        font-weight: 500;
    }

    .center_banner {
        height: 62px;
        margin-top: 80px;
    }

    .center_banner a .container {
        height: 62px;
        padding: 16px 20px;
    }

    .center_banner h2 {
        font-size: 1rem;
    }

    .center_banner p {
        font-size: 0.625rem;
    }


    .sale {
        margin-top: 80px;
        padding-left: 0;
    }

    .sale_title {
        align-items: center;
    }

    .sale_title h2 {
        font-size: 1.5rem;
    }

    .sale_description {
        padding-left: 0;
        width: 48%;
    }

    .sale_description h2 {
        font-size: 0.75rem;
    }
    .sale_description p {
        font-size: 1.25rem;
    }

    .promotion .container{
        display: flex;
        flex-flow: column wrap;
        /* position: relative; */
        gap: 16px 0;
        padding-bottom: 20px;
    }
    .promotion .container img{
       width: 100%;
       padding-top: 0px;
    }

    .collection{
        margin-top: 80px;
    }
    .collection_title h2{
        font-size: 1.875rem;
    }
    .collection_description{
        padding-left: 0;
    }
    .collection_description h2{
        font-size: 1.5rem;
    }
    .collection_description p{
        font-size: 1rem;
    }
    .collection_description a{
        font-size: 0.75rem;
    }

    .sns{
        margin-top: 80px;
    }

    .sns h2{
        padding-left: 0;
    }

    .insta{
        padding-left: 20px;
    }
    .insta img{
        width: 30%;
    }

    .footer{
        height: 100%;
    }
    .footer .container{
        display: flex;
        flex-flow: column wrap;
        padding-top: 60px;
        gap: 40px 0;
        height: 100%;
    }

    .footer_logo{
        width: 100%;
    }

    .footer_right{
        display: block;
        /* flex-flow:  row wrap; */
        /* justify-content: space-around; */
        gap: 0;
        justify-content: center;
    }

    .footer_menu:not(:nth-child(3)) {
        margin-right: 0px;
    }

    .footer_menu{
        width: 30%;
        float: left;
    }
    .footer_menu:nth-child(3){
        display: none;
    }


}