@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'noto sans cjk kr', sans-serif;
    font-weight: normal;
    font-size: 16px;
    min-width: 100%;
    overflow-x: hidden;
}

#section {
    display: none;
}

.footer {
    display: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* nav */
#nav {
    margin: auto;
    padding: 13px 0;
    /* background-color: rgba(255, 255, 255, 0.6); */
    position: sticky;
    top: 0;
    z-index: 6;
    /* border-bottom: 1px solid #000; */
}

.gnb {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

#nav:hover {
    background-color: #fff;
}

.nav-dark {
    background-color: #fff;
}

.gnb {}



.gnb_toggle-btn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #067456;
}

.gnb_center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    /* margin-left: 120px; */
}

.gnb_title {
    margin-right: 24px;
}

.gnb_title {
    font-family: 'roboto', sans-serif;
    display: inline-block;
}



.gnb_toggle-btn img {}

.icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.icon li {
    padding: 8px 12px;
}

/* inner_menu */
.inner_menu {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #fff;
    display: none;
}

.gnb_title {
    display: inline-block;
    padding: 24px 0;
}

.gnb_title:hover {
    color: #067456;
    font-weight: 700;
}

.gnb_menu:hover .inner_menu {
    display: block;
    /* z-index: 999; */
    /* border-top: 1px solid #DFD3D3; */
    /* border-top: 1px solid #dbdbdb; */
    border-bottom: 1px solid #dbdbdb;
    height: 450px;
    z-index: 6;
}



.depth2 {
    width: 1280px;
    margin: 0 auto;
    padding: 60px 0 160px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    position: relative;
}

.depth2_left,
.depth2_right {
    display: flex;
    flex-flow: column;
}

.depth2_left:after {
    border: 1px solid 000;
}

.depth2_left h2,
.depth2_right h2 {
    margin-bottom: 12px;
    font-weight: 300;
}

.depth2_left h2:hover,
.depth2_right h2:hover {
    color: #067456;
    font-weight: 500;
}

.depth2_left {
    display: flex;
    flex-flow: column;
    margin-right: 60px;
}

.depth2_right {
    display: flex;
    flex-flow: column;
}

.depth2_photo {
    right: 0;
    position: absolute;
}

.depth2_photo a img {
    width: 200px;
    height: 250px;
    /* display: none; */
    margin-right: 20px;
}

/* main_banner */
.banner {
    width: 100%;
    /* transform: translate(-100vw); */
    transition: all 0.3s;
    /* background-color: #067456; */
}

.main_banner {
    height: 600px;
    /* z-index: -1; */
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.main_banner:first-child {
    background: url(../images/main_banner.png) center/cover no-repeat;
}

.main_banner:last-child {
    background: url(../images/main_banner2.png) center/cover no-repeat;
}

.main_banner_description {
    /* position: relative; */
}

.main_banner_description1:first-child {
    position: absolute;
    top: 15%;
    right: 22%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    line-height: 47px;
    color: #FF7700;
}

.main_banner_description1:last-child {
    position: absolute;
    top: 30%;
    left: 15%;
}
.main_banner_description1:last-child p {
    font-size: 3.5rem;
    line-height: 72px;
    font-weight: 500;
    margin-bottom: 16px;
}

.main_banner_description1:last-child p span {
    font-weight: 700;
}

.main_banner_description1 a {
    font-size: 1.5rem;
    color: #fff;
    /* margin-top: 4px; */
    background-color: #A2978E;
    padding: 6px 23px;
}

.main_banner_description2:last-child {
    position: absolute;
    top: 40%;
}

.main_banner_description2:last-child p:first-child {
    color: #067456;
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 300;
}
.main_banner_description2:last-child p:nth-child(2){
    color: #000;
    /* margin-bottom: 8px; */
    font-size: 2rem;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 24px;
}

.main_banner_description2:last-child p:nth-child(2) span {
    font-weight: 500;
}

.main_banner_description2:last-child a {
    font-size: 1.66rem;
    color: #fff;
    /* margin-top: 12px; */
    background-color: #000000;
    padding: 6px 23px;
}

.main_banner_description:last-child .main_banner_description2:first-child{
    display: none;
}
.main_banner_description:last-child .main_banner_description2:last-child{
    display: block;
}

/* best */
.best {
    margin-top: 120px;
    text-align: left;
}

.best_title {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'roboto', sans-serif;
    justify-content: start;
    align-items: center;
}

.best_title h2 {
    font-size: 1.875rem;
    margin-right: 60px;
}

.best_title ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.best_title ul li {
    margin-top: 5px;
    margin-right: 12px;
    cursor: pointer;
}

.best_title ul li {
    color: #DFD3D3;
}


.best_img_bg {
    overflow: hidden;
}

.best_img_bg:hover img {
    transform: scale(1.1);
}

.best_img_bg img {
    transition: all 0.5s;
}

/* .best_menu_item.active {
    color: #000;
} */

.best_description ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 32px;
}

.best_description ul li {
    position: relative;
}

/* .best_description ul li .best_img_bg img {
    margin-bottom: 24px;
} */

.best_description ul li h2 {
    margin-bottom: 12px;
    margin-top: 24px;
    color: #555252;
}

.best_description ul li p {
    font-weight: 500;
    font-size: 1.125rem;
}

.best_description:nth-child(4) ul li:nth-child(3) p span {
    font-size: 0.5rem;
    text-decoration: line-through;
    color: #C1BCBC;
}

.best_title ul li.active {
    color: black;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

/* center_banner */
.center {
    height: 200px;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.center1 {
    background-color: #F1F5E3;
    width: 50%;
    position: relative;
}

.center_description {
    margin-top: 60px;
    margin-left: 320px;
}

.center_description h2 {
    font-size: 1.25rem;

}

.center_description p {
    font-size: 0.875rem;
    margin: 4px 0 16px 0;
}

.center_description a {
    background-color: #A2DB92;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 36px;
    font-size: 0.75rem;
    color: #fff;
    padding: 12px 28px;
}

.center_image {
    position: relative;
}

.center1 img {
    position: absolute;
    right: 60px;
    margin-top: -155px;
}


/* advertisement */
.l005 {
    background-color: #F3F3F3;
    padding: 120px 0;
    margin-top: 120px;
}

.l005_2 {
    display: flex;
    flex-flow: row nowrap;
}

.l005_2 .l005_description {
    margin-left: 110px;
}

.l005_2 .l005_description h2 {
    font-weight: 500;
    font-size: 1.875rem;
    margin-bottom: 4px;
}

.l005 .l005_description p {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 12px;
    line-height: 18px;
}

.l005 .l005_description a {
    background-color: #067456;
    width: 80px;
    height: 25px;
    border-radius: 23px;
    padding: 7px 22px;
    font-size: 8px;
    color: #fff;
    margin-top: 12px;
}

.l005_thumnail {
    padding: 67px 25px;
    width: 200px;
    height: 200px;
    background-color: #F4F6F5;
    border-radius: 100%;
    margin-left: 200px;
    margin-top: -5px;
}

/* video */
.video {
    position: relative;
    margin-left: 40px;
    margin-top: 60px;
}

.video video {
    width: 620px;
    height: 300px;
}

.video video source {
    width: 620px;
    height: 300px;
}

.video #l005_btn {
    position: absolute;
    border: none;
    top: 120px;
    left: 280px;
}

.video #l005_btn i {
    color: #fff;
    font-size: 60px;
    cursor: pointer;
}



/* story */
.story {
    margin-top: 120px;
    text-align: left;
}

.story_title h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.story p {
    font-weight: 300;

}

.story_title p {
    margin-bottom: 32px;
}

.story_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.story_description2 {
    width: 330px;
    height: 222px;
    /* margin: 344px 40px 200px 390px; */
    margin-top: -100px;
    margin-left: 70px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
}

.story_description2 {
    padding: 24px 24px 20px 24px;
}

.story_description p {
    font-size: 0.5rem;
}

.story_description p:nth-child(2) {
    margin-top: 12px;
    line-height: 18px;
}

.story_description p:nth-child(3) {
    text-align: right;
    position: absolute;
    right: 24px;
    bottom: 20px;
}

/* Footer */
.footer {
    background-color: #E6E0E0;
    height: 400px;
    margin-top: 300px;
}

.footer .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 120px;
}


.footer_logo {
    margin-right: 200px;
}

.footer_logo dd:nth-child(2) {
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin: 22px 0 17px 0;
}

.footer_logo dd:nth-child(2) h2:not(:last-child) {
    margin-right: 12px;
}

.footer_logo dd:nth-child(3) {
    line-height: 24px;
    color: #787878;
}

/* footer  어바웃*/
.footer_right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer_menu:not(:nth-child(3)) {
    margin-right: 120px;
}

.footer_menu dt {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.footer_menu dd {
    margin-bottom: 10px;
    color: #787878;
    font-size: 14px;
}

.footer .footer_menu dd a:hover {
    color: green;
}

@media screen and (max-width:1023px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 22px 20px;
    }

    #nav h1 img {
        width: 150px;
    }

    .gnb {
        margin: 0;
    }

    .gnb_center {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .gnb_center li {
        width: 100%;
        text-align: center;
    }

    .gnb_menu:hover .inner_menu {
        display: none;
    }

    .icon {
        display: flex;
        padding-left: 0;
        display: none;
    }

    .gnb_toggle-btn {
        display: block;
        cursor: pointer;
    }

    .gnb_center.active,
    .icon.active {
        display: flex;
    }

    .main_banner {
        height: 240px;
    }

    .main_banner:first-child {
        background: url(../images/main_banner_tablet.png) center/cover no-repeat;
    }

    .main_banner:last-child {
        background: url(../images/main_banner2_tablet.png) center/cover no-repeat;
    }
    .main_banner_description1:first-child {
        position: absolute;
        top: 15%;
        right: 22%;
        font-size: 1rem;
        line-height: 24px;
    }
    
    .main_banner_description1:last-child {
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .main_banner_description1:last-child p {
        font-size: 2rem;
        line-height: 40px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    
    .main_banner_description1:last-child p span {
        font-weight: 700;
    }
    
    .main_banner_description1:last-child a {
        font-size: 0.75rem;
        color: #fff;
        margin-top: 4px;
        background-color: #A2978E;
        padding: 6px 23px;
    }
    
    .main_banner_description2:last-child {
        position: absolute;
        top: 20%;
    }
    
    .main_banner_description2:last-child p:first-child {
        margin-bottom: 12px;
        font-size: 1rem;
        font-weight: 300;
    }
    .main_banner_description2:last-child p:nth-child(2){
        color: #000;
        /* margin-bottom: 8px; */
        font-size: 1.25rem;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    
    .main_banner_description2:last-child p:nth-child(2) span {
        font-weight: 500;
    }
    
    .main_banner_description2:last-child a {
        font-size: 0.75rem;
        color: #fff;
        /* margin-top: 12px; */
        background-color: #000000;
        padding: 6px 23px;
    }
}

@media screen and (max-width:767px) {
    h1 img {
        width: 100px;
    }

    .main_banner {
        height: 450px;
    }

    .main_banner:first-child {
        background: url(../images/main_banner_mobile.png) center/cover no-repeat;
    }

    .main_banner:first-child .main_banner_description {
        display: flex;
        flex-flow: column;
        align-content: space-around;
    }

    .main_banner:last-child {
        background: url(../images/main_banner2_mobile.png) center/cover no-repeat;

    }

    .main_banner:last-child .main_banner_description {
        display: flex;
        flex-flow: column;
        align-content: space-around;
    }
    .main_banner:first-child .main_banner_description1:first-child {
        position: absolute;
        top: 15%;
        left: 25%;
        font-size: 1.2rem;
        line-height: 36px;
    }
    
    .main_banner_description1:last-child {
        position: absolute;
        top: 75%;
        left: 5%;
    }
    
    .main_banner_description1:last-child p {
        font-size: 1.25rem;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    
    .main_banner_description1:last-child p span {
        font-weight: 700;
    }
    
    .main_banner_description1:last-child a {
        font-size: 0.75rem;
        color: #fff;
        margin-top: 4px;
        background-color: #A2978E;
        padding: 6px 23px;
    }
    
    .main_banner_description2:first-child {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
    
    .main_banner_description2:first-child p {
        color: #fff;
        margin-bottom: 8px;
        font-size: 1.875rem;
        line-height: 40px;
        font-weight: 400;
    }
    
    .main_banner_description2:first-child p span {
        font-weight: 400;
    }
    
    .main_banner_description2:first-child a {
        font-size: 0.75rem;
        color: #fff;
        margin-top: 4px;
        background-color: #000000;
        padding: 6px 23px;
    }

    .main_banner_description:last-child .main_banner_description2:last-child{
        display: none;
    }
    .main_banner_description:last-child .main_banner_description2:first-child{
        display: block;
    }
}